{% extends "auctions/layout.html" %} {% block body %}
<div class="page">
  <div class="wrapper">
    <span class="bg-animate"></span>
    <div class="form-box login">
      <h2>Login</h2>

      {% if message %}
      <div>{{ message }}</div>
      {% endif %}

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Username</label>
          <i class="bx bxs-user"></i>
          <input
            autofocus
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <i class="bx bxs-lock-alt"></i>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <input class="btn btn-page" type="submit" value="Login" />
      </form>
      <div class="logreg-link">
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
      </div>
    </div>
    <div class="info-text login">
      <h3>Welcome Back!</h3>
      <p>Have a great Bid with QuickBid</p>
    </div>
  </div>
</div>
{% endblock %}
