{% extends "auctions/layout.html" %} {% block body %}
<div class="page">
  <div class="wrapper">
    <span class="bg-animated"></span>
    <div class="form-box signup">
      <h2>Register</h2>

      {% if message %}
      <div>{{ message }}</div>
      {% endif %}

      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Username</label>
          <i class="bx bxs-user"></i>
          <input
            class="form-control"
            autofocus
            type="text"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label>Email</label>
          <i class="bx bxs-envelope"></i>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Email Address"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <i class="bx bxs-lock-alt"></i>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label>Conform Password</label>
          <i class="bx bxs-lock-alt"></i>
          <input
            class="form-control"
            type="password"
            name="confirmation"
            placeholder="Confirm Password"
          />
        </div>
        <input class="btn btn-page" type="submit" value="Register" />
      </form>
      <div class="logreg-link">
        Already have an account? <a href="{% url 'login' %}">Log In Here.</a>
      </div>
    </div>
    <div class="info-text signup">
      <h3>Welcome!</h3>
      <p>Have a great Bid with QuickBid</p>
    </div>
  </div>
</div>
{% endblock %}
